@import "./listproduct";
@import "./block";
@import "./analysis";

.home {
  &__video {
    width: 100%;
    &-size {
    }
    &-size {
      width: 100%;
    }
  }
  &-aboutus {
    text-align: center;
    margin-top: 70px;

    font-size: 40px;
  }
  &-listproduct {
    padding: 0 20%;
    &-div-title {
      text-align: center;
      margin-bottom: 50px;
    }
  }
  &-slideshow {
    margin-top: 90px;
    &-title {
      text-align: center;
      font-size: 60px;
    }
  }
  &-analysis {
    margin: 90px 0;
    &-title {
      text-align: center;
      font-size: 60px;
      margin-bottom: 90px;
    }
    &-body {
      display: flex;
      justify-content: space-between;
      margin: 0 15%;
      &-slideshow {
      }
      &-list {
        margin-left: 30px;
        &-title {
          background-color: #ccc;
          width: 100%;
          height: 20px;
          &-span {
            font-size: 18px;
            background-color: red;
            color: #fff;
            text-align: center;
            position: relative;
            width: 40%;
            margin: 0 auto;
            height: 40px;
            line-height: 40px;
            top: -10px;
            border-radius: 5px;
          }
        }
        &-body {
          margin-top: 40px;
          &-item {
            display: flex;
            justify-content: space-between;
            &-img {
            }
            &-content {
              margin-left: 20px;
              &_1 {
                font-size: 18px;
                font-weight: bold;
              }
              &_2 {
                margin-top: 10px;
                font-size: 14px;
                color: #333;
                text-align: justify;
              }
            }
          }
        }
      }
    }
  }
  &-block {
  }
}

.aboutus {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
  background-image: url("/media/Untitled-10.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  height: 520px;
  margin-bottom: 70px;

  &-text {
    width: 50%;
    margin-top: 25px;
    &-title {
      font-weight: bold;
      font-size: 42px;
      text-align: center;
      margin-bottom: 25px;
    }
    &-body {
      &-text {
        text-align: justify;
        font-size: 20px;
        margin-top: 15px;
        margin-right: 40px;
      }
    }
  }
  &-image {
    width: 50%;
  }
}

/* The switch - the box around the slider */
.block-switch {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 999999;
}
.block-switch-text {
  color: #ccc;
  font-size: 14px;
  margin-right: 10px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #e42326;
}

input:focus + .slider {
  box-shadow: 0 0 1px #e42326;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

//// csss slide show

#slideshow {
  margin: 0 auto;
  padding-top: 80px;
  right: 20%;
  background-color: transparent;
  box-sizing: border-box;
}

.slideshow-title {
  font-size: 62px;
  margin: 0 auto;
  text-align: center;
  margin-top: 25%;
  letter-spacing: 3px;
  font-weight: 300;
}

.sub-heading {
  padding-top: 50px;
  font-size: 18px;
}
.sub-heading-two {
  font-size: 15px;
}
.sub-heading-three {
  font-size: 13px;
}
.sub-heading-four {
  font-size: 11px;
}
.sub-heading-five {
  font-size: 9px;
}
.sub-heading-six {
  font-size: 7px;
}
.sub-heading-seven {
  font-size: 5px;
}
.sub-heading-eight {
  font-size: 3px;
}
.sub-heading-nine {
  font-size: 1px;
}

.entire-content {
  margin: auto;
  width: 190px;
  perspective: 1000px;
  position: relative;
  padding-top: 30px;
}

.content-carrousel {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotar 45s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.content-carrousel figure {
  width: 250px;
  height: 180px;
  // border: 1px solid #3b444b;
  overflow: hidden;
  position: absolute;
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(350px);
}
.content-carrousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(350px);
}
.content-carrousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(350px);
}
.content-carrousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(350px);
}
.content-carrousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(350px);
}
.content-carrousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(350px);
}
.content-carrousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(350px);
}
.content-carrousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(350px);
}
.content-carrousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(350px);
}
.content-carrousel figure:nth-child(10) {
  transform: rotateY(360deg) translateZ(350px);
}

.shadow {
  position: absolute;
  // box-shadow: 0px 0px 20px 0px #000;
  border-radius: 1px;
}

.content-carrousel img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}

.content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

// Slideshow
#slideshow {
  text-align: center;
  overflow: hidden;
  height: 800px;
  width: 1200px;
  margin: 0 auto;
}

.slide-wrapper {
  width: 7200px;
  -webkit-animation: slide 18s ease infinite;
}

.slide {
  float: left;
  height: 800px;
  width: 1200px;
}

.slide:nth-child(1) {
  background-image: url("/media/slideshow_1.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
}

.slide:nth-child(2) {
  background-image: url("/media/slideshow_2.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
}

.slide:nth-child(3) {
  background-image: url("/media/slideshow_3.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
}

.slide:nth-child(4) {
  background-image: url("/media/slideshow_4.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
}
.slide:nth-child(5) {
  background-image: url("/media/slideshow_5.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
}
.slide:nth-child(6) {
  background-image: url("/media/slideshow_6.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
}

.slide-number {
  color: #000;
  text-align: center;
  font-size: 10em;
}

@-webkit-keyframes slide {
  20% {
    margin-left: 0px;
  }
  30% {
    margin-left: -1200px;
  }
  50% {
    margin-left: -2400px;
  }
  60% {
    margin-left: -3600px;
  }
  70% {
    margin-left: -4800px;
  }
  80% {
    margin-left: -6000px;
  }
  90% {
    margin-left: -6000px;
  }
}
