/* General Styles */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
section {
  position: relative;
  width: 100%;
  display: block;
  clear: both;
  z-index: 0;
  background: #eee;
}
#slideshow {
  overflow: hidden;
  cursor: default;
}
#slideshow img {
  display: inline-block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* Transitions */
nav ul.submenu {
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
nav ul.main-nav {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.logo,
.logo-thumb,
.brand,
nav ul li.first-level span,
nav,
header .sticky-bg {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
nav ul.submenu img,
nav ul.submenu .submenu-title {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* Menu Styles */
header {
  width: 100%;
  position: fixed;
  z-index: 999;
  text-align: center;
  font-size: 11px;
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
  height: 118px;
  font: 300 14px/20px "Raleway", sans-serif;
}
header .sticky-bg {
  height: 70px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #f8f8f8;
  opacity: 0;
  pointer-events: none;
}
header .brand {
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
  margin-bottom: 25px;
  position: relative;
  width: 220px;
  height: 50px;
}
.logo {
  opacity: 1;
  position: absolute;
  left: 0px;
  right: 0px;
  // width: 600px;
  top: -10px;
  margin: 0px auto;
}
.logo-thumb {
  opacity: 0;
  position: absolute;
  // width: 50px;
  top: 5px;
  margin-left: -25px;
  z-index: 10;
}
nav {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  height: 0;
  position: absolute;
  top: 118px;
  left: 0;
  right: 0;
  margin-top: 25px;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 2;
  color: #000;
}
nav ul.main-nav {
  position: relative;
  z-index: 5;
}
nav ul.main-nav div {
  display: inline-block;
}
nav ul li.first-level {
  font-size: 11px;
  display: inline-block;
  vertical-align: middle;
}

nav ul li.first-level .submenu {
  background: transparent;
  width: 100%;
  position: absolute;
  left: 0;
  padding: 28px 0 20px 0;
  // -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  // box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  display: block;
  opacity: 0;
  pointer-events: none;
}

nav li.submenu-col {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: calc(15% - 20px);
  max-width: 242px;
  position: relative;
  margin: 0px 10px;
  margin-bottom: 15px;
}
nav li.submenu-col a {
  text-decoration: none;
}
nav ul.submenu img {
  max-width: 242px;
  width: 100%;
  height: auto;
  margin-bottom: 17px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
nav li .submenu-title {
  background-color: transparent;
  font-size: 16px;
  position: absolute;
  top: 40%;
  right: 0;
  width: 100%;
  z-index: 9;
  height: 30px;
}
.submenu-title-text {
  color: transparent;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}
.submenu-col:hover .submenu-title {
  background-color: black;
  animation-name: anim-lineUp;
  animation-duration: 0.5s;
}
.submenu-col:hover .submenu-title-text {
  color: white;
  animation-name: anim-lineUp;
  animation-duration: 0.5s;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* Hover Styles */
nav ul.main-nav.hover {
  margin-top: -5px;
}
nav ul.main-nav.hover li.first-level span {
  font-weight: 600;
  color: #dadada;
}
nav li.first-level:hover .submenu {
  display: block;
  pointer-events: auto;
  opacity: 1;
}
nav ul.main-nav.hover li.first-level:hover span {
  color: #fff;
}
nav ul.submenu li:hover img {
  -webkit-filter: none;
  filter: none;
}
nav ul.submenu li:hover .submenu-title {
  color: #000;
}

/* Scroll Styles */
header.scroll {
  height: 65px;
}
header.scroll .sticky-bg {
  opacity: 1;
}
header.scroll .brand {
  margin: 5px auto;
  width: 60px;
}
header.scroll .logo {
  opacity: 0;
}
header.scroll .logo-thumb {
  opacity: 1;
}
header.scroll nav {
  position: absolute;
  top: 13px;
  left: 0;
  right: 0;
  margin-top: 0px;
}
header.scroll nav ul li.first-level.left span {
  left: -50px;
}
header.scroll nav ul li.first-level.right span {
  left: 25px;
}

// animation bell
.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.bell .material-icons {
  /* font-size:12rem !important; */
  /* font-size:36px !important; */
  // font-size: 16rem !important;
}

.bell {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.bell .anchor {
  transform-origin: center top;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.bell .layer-1 {
  color: #fff;
  z-index: 9;
  animation: animation-layer-1 5000ms infinite;
  opacity: 0;
}

.bell .layer-2 {
  color: #fff;
  z-index: 8;
  position: absolute;
  top: 0;
  left: 0;
  animation: animation-layer-2 5000ms infinite;
}

.bell .layer-3 {
  color: #fff;
  z-index: 7;
  position: absolute;
  top: 0;
  left: 0;
  animation: animation-layer-3 5000ms infinite;
}

@keyframes animation-layer-1 {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  8.0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  12.0% {
    transform: rotate(42deg);
    opacity: 0.5;
  }
  16.0% {
    transform: rotate(-35deg);
    opacity: 0.4;
  }
  20.0% {
    transform: rotate(0deg);
    opacity: 0.1;
  }
  23.0% {
    transform: rotate(28deg);
    opacity: 0.3;
  }
  26.0% {
    transform: rotate(-20deg);
    opacity: 0.2;
  }
  29.0% {
    transform: rotate(0deg);
    opacity: 0.1;
  }
  31.0% {
    transform: rotate(16deg);
    opacity: 0;
  }
  33.0% {
    transform: rotate(-12deg);
    opacity: 0;
  }
  35.0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  37.0% {
    transform: rotate(-6deg);
    opacity: 0;
  }
  39.0% {
    transform: rotate(0deg);
    opacity: 0;
  }
}

@keyframes animation-layer-2 {
  0% {
    transform: rotate(0deg);
  }
  8.0% {
    transform: rotate(0deg);
  }
  12.0% {
    transform: rotate(42deg);
  }
  16.0% {
    transform: rotate(-35deg);
  }
  20.0% {
    transform: rotate(0deg);
  }
  23.0% {
    transform: rotate(28deg);
  }
  26.0% {
    transform: rotate(-20deg);
  }
  29.0% {
    transform: rotate(0deg);
  }
  31.0% {
    transform: rotate(16deg);
  }
  33.0% {
    transform: rotate(-12deg);
  }
  35.0% {
    transform: rotate(0deg);
  }
  37.0% {
    transform: rotate(-6deg);
  }
  39.0% {
    transform: rotate(0deg);
  }
  40.0% {
    transform: rotate(6deg);
  }
  44.0% {
    transform: rotate(-3deg);
  }
  49.0% {
    transform: rotate(2deg);
  }
  55.0% {
    transform: rotate(0deg);
  }
  62.0% {
    transform: rotate(1deg);
  }
  70.0% {
    transform: rotate(0deg);
  }
}

@keyframes animation-layer-3 {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  8.0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  12.0% {
    transform: rotate(52deg);
    opacity: 0.5;
  }
  16.0% {
    transform: rotate(-48deg);
    opacity: 0.4;
  }
  20.0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  23.0% {
    transform: rotate(42deg);
    opacity: 0.3;
  }
  26.0% {
    transform: rotate(-30deg);
    opacity: 0.2;
  }
  29.0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  31.0% {
    transform: rotate(26deg);
    opacity: 0.15;
  }
  33.0% {
    transform: rotate(-18deg);
    opacity: 0.1;
  }
  35.0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  37.0% {
    transform: rotate(-12deg);
    opacity: 0.8;
  }
  40.0% {
    transform: rotate(6deg);
    opacity: 1;
  }
  44.0% {
    transform: rotate(-3deg);
    opacity: 0.8;
  }
  49.0% {
    transform: rotate(2deg);
    opacity: 1;
  }
  55.0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  62.0% {
    transform: rotate(1deg);
    opacity: 1;
  }
  70.0% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

//scss

.image-logo-header {
  width: 481px;
  height: 82px;
  margin-left: -100px;
}
.image-logo-baner {
  width: 51px;
  height: 51px;
}

// responsive layout cho PC
@include responsive_200 {
  .header-PC {
    display: none;
  }
  .header-mobile {
    position: fixed;
  }
  .navbar-mobile {
    z-index: 100000;
    top: calc(100vh - 80px);
    width: 100%;
    background-color: #fff;
    height: 80px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    &-menu {
      &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &-link {
        width: 25vw;
        padding-top: 10px;
        display: block;
        &-icon {
          font-size: 20px;
          color: #555;
        }
        &:hover {
          border-top: 2px solid red;
          cursor: pointer;
        }
        &:hover &-icon {
          color: red;
        }
        &:hover .navbar-mobile-menu-name {
          color: red;
        }
        &-is-active {
          color: red;
          border-top: 2px solid red;
        }
      }
      &-name {
        font-size: 12px;
        color: #555;
      }
    }
  }
  .layout-my {
    display: none;
  }
}

@include responsive_280 {
  .header-PC {
    display: none;
  }
  .header-mobile {
    position: fixed;
  }
  .navbar-mobile {
    z-index: 100000;
    top: calc(100vh - 80px);
    width: 100%;
    background-color: #fff;
    height: 80px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    &-menu {
      &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &-link {
        width: 25vw;
        padding-top: 10px;
        display: block;
        &-icon {
          font-size: 20px;
          color: #555;
        }
        &:hover {
          border-top: 2px solid red;
          cursor: pointer;
        }
        &:hover &-icon {
          color: red;
        }
        &:hover .navbar-mobile-menu-name {
          color: red;
        }
        &-is-active {
          color: red;
          border-top: 2px solid red;
        }
      }
      &-name {
        font-size: 12px;
        color: #555;
      }
    }
  }
  .layout-my {
    display: none;
  }
}

@include responsive_320 {
  .header-PC {
    display: none;
  }
  .header-mobile {
    position: fixed;
  }
  .navbar-mobile {
    z-index: 100000;
    top: calc(100vh - 80px);
    width: 100%;
    background-color: #fff;
    height: 80px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    &-menu {
      &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &-link {
        width: 25vw;
        padding-top: 10px;
        display: block;
        &-icon {
          font-size: 20px;
          color: #555;
        }
        &:hover {
          border-top: 2px solid red;
          cursor: pointer;
        }
        &:hover &-icon {
          color: red;
        }
        &:hover .navbar-mobile-menu-name {
          color: red;
        }
        &-is-active {
          color: red;
          border-top: 2px solid red;
        }
      }
      &-name {
        font-size: 12px;
        color: #555;
      }
    }
  }
  .layout-my {
    display: none;
  }
}
@include responsive_375 {
  .header-PC {
    display: none;
  }
  .header-mobile {
    position: fixed;
  }
  .navbar-mobile {
    z-index: 100000;
    top: calc(100vh - 80px);
    width: 100%;
    background-color: #fff;
    height: 80px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    &-menu {
      &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &-link {
        width: 25vw;
        padding-top: 10px;
        display: block;
        &-icon {
          font-size: 20px;
          color: #555;
        }
        &:hover {
          border-top: 2px solid red;
          cursor: pointer;
        }
        &:hover &-icon {
          color: red;
        }
        &:hover .navbar-mobile-menu-name {
          color: red;
        }
        &-is-active {
          color: red;
          border-top: 2px solid red;
        }
      }
      &-name {
        font-size: 12px;
        color: #555;
      }
    }
  }
  .layout-my {
    display: none;
  }
}
@include responsive_425 {
  .header-PC {
    display: none;
  }
  .header-mobile {
    position: fixed;
  }
  .navbar-mobile {
    z-index: 100000;
    margin: 0;
    top: calc(100vh - 80px);
    width: 100vw;
    background-color: #fff;
    height: 80px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    &-menu {
      &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &-link {
        width: 25vw;
        padding-top: 15px;
        display: block;
        margin: 0 auto;
        &-icon {
          font-size: 24px;
          color: #555;
        }
        &:hover {
          border-top: 2px solid red;
          cursor: pointer;
        }
        &:hover &-icon {
          color: red;
        }
        &:hover .navbar-mobile-menu-name {
          color: red;
        }
        &-is-active {
          color: red;
          border-top: 2px solid red;
        }
      }
      &-name {
        font-size: 12px;
        color: #555;
      }
    }
  }
  .layout-my {
    display: none;
  }
}
@include responsive_456 {
  .header-PC {
    display: none;
  }
  .header-mobile {
    position: fixed;
  }
  .navbar-mobile {
    z-index: 1000;
    margin: 0;
    top: calc(100vh - 80px);
    width: 100vw;
    background-color: #fff;
    height: 80px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    &-menu {
      &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &-link {
        width: 25vw;
        padding-top: 15px;
        display: block;
        margin: 0 auto;
        &-icon {
          font-size: 24px;
          color: #555;
        }
        &:hover {
          border-top: 2px solid red;
          cursor: pointer;
        }
        &:hover &-icon {
          color: red;
        }
        &:hover .navbar-mobile-menu-name {
          color: red;
        }
        &-is-active {
          color: red;
          border-top: 2px solid red;
        }
      }
      &-name {
        font-size: 12px;
        color: #555;
      }
    }
  }
  .layout-my {
    display: none;
  }
}

@include responsive_768 {
  .header-mobile {
    display: none;
  }
  .layout-my {
    display: flex;
    position: fixed;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    top: 18px;
    right: 10px;
    &-login {
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 0;
      &-icon {
        color: #fff;
        font-size: 18px;
        padding-left: 5px;
        padding-right: 5px;
      }
      &-icon:hover {
        cursor: pointer;
      }
      &-text {
        color: #fff;
        font-size: 14px;
        width: 90px;
      }
      &-text:hover {
        cursor: pointer;
      }
    }
    &-notifi {
      top: 5px;
      &-bell {
        &-icon {
          font-size: 18px;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  nav ul li.first-level span {
    cursor: pointer;
    text-transform: uppercase;
    padding: 13px 0px 10px 10px;
    display: block;
    letter-spacing: 0em;
    position: relative;
    z-index: 2;
    left: 0;
    font-size: 12px;
    color: #ccc;
  }
}
@include responsive_992 {
  .header-mobile {
    display: none;
  }
  .layout-my {
    display: flex;
    position: fixed;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    top: 18px;
    right: 30px;
    &-login {
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 0;
      &-icon {
        color: #fff;
        font-size: 20px;
        padding-left: 5px;
        padding-right: 5px;
      }
      &-icon:hover {
        cursor: pointer;
      }
      &-text {
        color: #fff;
        font-size: 16px;
        width: 90px;
      }
      &-text:hover {
        cursor: pointer;
      }
    }
    &-notifi {
      top: 5px;
      &-bell {
        &-icon {
          font-size: 20px;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  nav ul li.first-level span {
    cursor: pointer;
    text-transform: uppercase;
    padding: 13px 10px 10px 10px;
    display: block;
    letter-spacing: 0em;
    position: relative;
    z-index: 2;
    left: 0;
    font-size: 14px;
    color: #ccc;
  }
}

@include responsive_1024 {
  .header-mobile {
    display: none;
  }
  .layout-my {
    display: flex;
    position: fixed;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    top: 18px;
    right: 30px;
    &-login {
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 0;
      &-icon {
        color: #fff;
        font-size: 20px;
        padding-left: 5px;
        padding-right: 5px;
      }
      &-icon:hover {
        cursor: pointer;
      }
      &-text {
        color: #fff;
        font-size: 16px;
        width: 90px;
      }
      &-text:hover {
        cursor: pointer;
      }
    }
    &-notifi {
      top: 5px;
      &-bell {
        &-icon {
          font-size: 20px;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  nav ul li.first-level span {
    cursor: pointer;
    text-transform: uppercase;
    padding: 13px 10px 10px 10px;
    display: block;
    letter-spacing: 0em;
    position: relative;
    z-index: 2;
    left: 0;
    font-size: 14px;
    color: #ccc;
  }
}
@include responsive_1200 {
  .header-mobile {
    display: none;
  }
  .layout-my {
    display: flex;
    position: fixed;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    top: 10px;
    right: 50px;
    &-login {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-icon {
        color: #fff;
        font-size: 24px;
        padding-left: 60px;
        padding-right: 10px;
      }
      &-icon:hover {
        cursor: pointer;
      }
      &-text {
        color: #fff;
        font-size: 18px;
        width: 100px;
      }
      &-text:hover {
        cursor: pointer;
      }
    }
    &-notifi {
      top: 5px;
      &-bell {
        &-icon {
          font-size: 24px;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  nav ul li.first-level span {
    cursor: pointer;
    text-transform: uppercase;
    padding: 13px 16px 10px 16px;
    display: block;
    letter-spacing: 0.1em;
    position: relative;
    z-index: 2;
    left: 0;
    font-size: 14px;
    color: #ccc;
  }
}
@include responsive_1440 {
  .header-mobile {
    display: none;
  }
  .layout-my {
    display: flex;
    position: fixed;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    top: 10px;
    right: 50px;
    &-login {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-icon {
        color: #fff;
        font-size: 24px;
        padding-left: 60px;
        padding-right: 10px;
      }
      &-icon:hover {
        cursor: pointer;
      }
      &-text {
        color: #fff;
        font-size: 18px;
        width: 100px;
      }
      &-text:hover {
        cursor: pointer;
      }
    }
    &-notifi {
      top: 5px;
      &-bell {
        &-icon {
          font-size: 24px;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  nav ul li.first-level span {
    cursor: pointer;
    text-transform: uppercase;
    padding: 13px 16px 10px 16px;
    display: block;
    letter-spacing: 0.14em;
    position: relative;
    z-index: 2;
    left: 0;
    font-size: 16px;
    color: #ccc;
  }
}
@include responsive_1650 {
  .header-mobile {
    display: none;
  }
  .layout-my {
    display: flex;
    position: fixed;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    top: 10px;
    right: 200px;
    &-login {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-icon {
        color: #fff;
        font-size: 24px;
        padding-left: 60px;
        padding-right: 10px;
      }
      &-icon:hover {
        cursor: pointer;
      }
      &-text {
        color: #fff;
        font-size: 18px;
        width: 100px;
      }
      &-text:hover {
        cursor: pointer;
      }
    }
    &-notifi {
      top: 5px;
      &-bell {
        &-icon {
          font-size: 24px;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  nav ul li.first-level span {
    cursor: pointer;
    text-transform: uppercase;
    padding: 13px 16px 10px 16px;
    display: block;
    letter-spacing: 0.14em;
    position: relative;
    z-index: 2;
    left: 0;
    font-size: 16px;
    color: #ccc;
  }
}
@include responsive_1900 {
  .header-mobile {
    display: none;
  }
  .layout-my {
    display: flex;
    position: fixed;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    top: 10px;
    right: 200px;
    &-login {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-icon {
        color: #fff;
        font-size: 24px;
        padding-left: 60px;
        padding-right: 10px;
      }
      &-icon:hover {
        cursor: pointer;
      }
      &-text {
        color: #fff;
        font-size: 18px;
        width: 100px;
      }
      &-text:hover {
        cursor: pointer;
      }
    }
    &-notifi {
      top: 5px;
      &-bell {
        &-icon {
          font-size: 24px;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  nav ul li.first-level span {
    cursor: pointer;
    text-transform: uppercase;
    padding: 13px 16px 10px 16px;
    display: block;
    letter-spacing: 0.14em;
    position: relative;
    z-index: 2;
    left: 0;
    font-size: 16px;
    color: #ccc;
  }
}
