@import "./component_index";
@import "./navmenuanalysis";
@import "./news";
@import "./index_analysis";

.analysis {
  &-baner {
    background: url("/media/analysis/slideshow-baner-1.jpg");
    width: 100vw;
    height: 25vw;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  &-navbar {
    margin: 50px 15%;
    height: 60px;
    background-color: #f8f8f8;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    justify-content: space-between;
    &-heder {
      display: flex;
      align-items: center;
      width: 25%;
      padding-left: 20px;
      &-img {
        width: 25px;
        height: 25px;
        position: relative;
      }
      &-text {
        font-size: 18px;
        margin-left: 10px;
        line-height: 60px;
      }
      &:hover {
        cursor: pointer;
      }
    }
    &-menu {
      width: 15%;
      background-color: #ccc;

      &-text {
        font-size: 18px;
        width: 20%;
        height: 100%;
        text-align: center;
        line-height: 60px;
        &:hover {
          cursor: pointer;
          color: red;
          border-bottom: 2px solid red;
        }
      }
    }
  }
  &-component {
    // margin: 0 15% 50px 15%;
    display: flex;
    &-navigation {
      // margin: 0 15%;
      &-p {
        font-size: 18px;
      }
    }
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    &_index {
      width: 100%;
      margin-right: 20px;
      &-header {
        &-h1 {
          text-align: center;
          font-size: 38px;
          padding-top: 50px;
        }
        &-h3 {
          text-align: center;
          font-size: 20px;
        }
        &-p {
          color: #222;
          text-align: right;
        }
      }
      &-content {
        text-align: justify;
        font-size: 16px;
        margin: 50px 10px 0 10px;
      }
      &-menu {
        padding-bottom: 30px;
      }
    }

    &_list {
      margin-left: 20px;
      margin-top: 50px;
      &-block {
        margin-bottom: 30px;
        &-title {
          display: flex;
          margin-bottom: 20px;
          &-text {
            font-size: 18px;
            font-weight: bold;
            width: 55%;
          }
          &-wall {
            border-bottom: 2px solid #ccc;
            width: 50%;
            height: 18px;
          }
        }
        &-main {
          margin-top: 6px;
          margin-bottom: 5px;
          &-content {
            &:hover {
              cursor: pointer;
            }
            &:hover &-title {
              color: red;
            }
            &:hover &-img {
              box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            }
            display: flex;
            align-items: center;
            &-img {
              width: 120px;
              height: 67px;
              position: relative;
            }
            &-title {
              padding-left: 10px;
              width: 70%;
              &-header {
                font-size: 14px;
                font-weight: bold;
              }
              &-text {
                font-size: 10px;
              }
            }
          }
        }
        &-baner {
          width: 100%;
          margin-bottom: 40px;
          &-video {
            width: 80%;
          }
        }
      }
    }
  }
  &-menu {
    &-image {
      width: 50px;
      height: 50px;
      position: relative;
      margin: 0 auto;
    }
  }
}

// class phụ
.active-navber-select {
  color: red;
  border-bottom: 2px solid red;
}
.fixed {
  position: fixed !important;
  width: 70%;
  margin: 0 !important;
  z-index: 1;
  left: 15%;
  top: 70px;
}
.analysis-navbar-sub {
  display: none;
}
.analysis-navbar-sub-active {
  height: 160px;
}
// dropdown menu
// chung css của các components
.menu-analysis {
  display: flex;
  justify-content: space-between;
  margin: 0 15%;
  &-body {
    width: 85%;
  }
  &-list {
  }
}

// responsive
@include responsive_200 {
  .menu-analysis {
    display: block;
    // justify-content: space-between;
    margin: 0 15px 0 15px;
    &-body {
      margin-right: 0;
      width: 100%;
    }
    &-list {
      // width: 20%;
    }
  }
  .analysis {
    &-navbar {
      display: none !important;
    }
    &-component {
      // margin: 0 15% 50px 15%;
      display: flex;
      &-navigation {
        // margin: 0 15%;
        &-p {
          font-size: 18px;
        }
      }
      // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      &_index {
        width: 100%;
        margin-right: 20px;
        &-header {
          &-h1 {
            text-align: center;
            font-size: 38px;
            padding-top: 50px;
          }
          &-h3 {
            text-align: center;
            font-size: 20px;
          }
          &-p {
            color: #222;
            text-align: right;
          }
        }
        &-content {
          text-align: justify;
          font-size: 16px;
          margin: 50px 10px 0 10px;
        }
        &-menu {
          padding-bottom: 30px;
        }
      }

      &_list {
        // margin-left: 15px;
        // margin-top: 50px;
        width: 0;
        &-block {
          display: none;
          &-title {
            display: flex;
            margin-bottom: 20px;
            &-text {
              font-size: 18px;
              font-weight: bold;
              width: 100%;
            }
            &-wall {
              display: none;
            }
          }
          &-main {
            margin-top: 6px;
            margin-bottom: 5px;
            &-content {
              &:hover {
                cursor: pointer;
              }
              &:hover &-title {
                color: red;
              }
              &:hover &-img {
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
              }
              display: flex;
              align-items: center;
              &-img {
                width: 120px;
                height: 67px;
                position: relative;
              }
              &-title {
                padding-left: 10px;
                width: 70%;
                &-header {
                  font-size: 12px;
                  font-weight: bold;
                }
                &-text {
                  font-size: 14px;
                  display: none;
                }
              }
            }
          }
          &-baner {
            width: 100%;
            margin-bottom: 10px;
            &-video {
              width: 100%;
            }
          }
        }
      }
    }
    &-menu {
      display: none;
      // &-image {
      //   width: 50px;
      //   height: 50px;
      //   position: relative;
      //   margin: 0 auto;
      // }
    }
  }
}
@include responsive_280 {
  .menu-analysis {
    display: block;
    // justify-content: space-between;
    margin: 0 15px 0 15px;
    &-body {
      margin-right: 0;
      width: 100%;
    }
    &-list {
      // width: 20%;
    }
  }
  .analysis {
    &-navbar {
      display: none !important;
    }
    &-component {
      // margin: 0 15% 50px 15%;
      display: flex;
      &-navigation {
        // margin: 0 15%;
        &-p {
          font-size: 18px;
        }
      }
      // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      &_index {
        width: 100%;
        margin-right: 20px;
        &-header {
          &-h1 {
            text-align: center;
            font-size: 38px;
            padding-top: 50px;
          }
          &-h3 {
            text-align: center;
            font-size: 20px;
          }
          &-p {
            color: #222;
            text-align: right;
          }
        }
        &-content {
          text-align: justify;
          font-size: 16px;
          margin: 50px 10px 0 10px;
        }
        &-menu {
          padding-bottom: 30px;
        }
      }

      &_list {
        // margin-left: 15px;
        // margin-top: 50px;
        width: 0;
        &-block {
          display: none;
          &-title {
            display: flex;
            margin-bottom: 20px;
            &-text {
              font-size: 18px;
              font-weight: bold;
              width: 100%;
            }
            &-wall {
              display: none;
            }
          }
          &-main {
            margin-top: 6px;
            margin-bottom: 5px;
            &-content {
              &:hover {
                cursor: pointer;
              }
              &:hover &-title {
                color: red;
              }
              &:hover &-img {
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
              }
              display: flex;
              align-items: center;
              &-img {
                width: 120px;
                height: 67px;
                position: relative;
              }
              &-title {
                padding-left: 10px;
                width: 70%;
                &-header {
                  font-size: 12px;
                  font-weight: bold;
                }
                &-text {
                  font-size: 14px;
                  display: none;
                }
              }
            }
          }
          &-baner {
            width: 100%;
            margin-bottom: 10px;
            &-video {
              width: 100%;
            }
          }
        }
      }
    }
    &-menu {
      display: none;
      // &-image {
      //   width: 50px;
      //   height: 50px;
      //   position: relative;
      //   margin: 0 auto;
      // }
    }
  }
}
@include responsive_320 {
  .menu-analysis {
    display: block;
    // justify-content: space-between;
    margin: 0 15px 0 15px;
    &-body {
      margin-right: 0;
      width: 100%;
    }
    &-list {
      // width: 20%;
    }
  }
  .analysis {
    &-navbar {
      display: none !important;
    }
    &-component {
      // margin: 0 15% 50px 15%;
      display: flex;
      &-navigation {
        // margin: 0 15%;
        &-p {
          font-size: 18px;
        }
      }
      // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      &_index {
        width: 100%;
        margin-right: 20px;
        &-header {
          &-h1 {
            text-align: center;
            font-size: 38px;
            padding-top: 50px;
          }
          &-h3 {
            text-align: center;
            font-size: 20px;
          }
          &-p {
            color: #222;
            text-align: right;
          }
        }
        &-content {
          text-align: justify;
          font-size: 16px;
          margin: 50px 10px 0 10px;
        }
        &-menu {
          padding-bottom: 30px;
        }
      }

      &_list {
        // margin-left: 15px;
        // margin-top: 50px;
        width: 0;
        &-block {
          display: none;
          &-title {
            display: flex;
            margin-bottom: 20px;
            &-text {
              font-size: 18px;
              font-weight: bold;
              width: 100%;
            }
            &-wall {
              display: none;
            }
          }
          &-main {
            margin-top: 6px;
            margin-bottom: 5px;
            &-content {
              &:hover {
                cursor: pointer;
              }
              &:hover &-title {
                color: red;
              }
              &:hover &-img {
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
              }
              display: flex;
              align-items: center;
              &-img {
                width: 120px;
                height: 67px;
                position: relative;
              }
              &-title {
                padding-left: 10px;
                width: 70%;
                &-header {
                  font-size: 12px;
                  font-weight: bold;
                }
                &-text {
                  font-size: 14px;
                  display: none;
                }
              }
            }
          }
          &-baner {
            width: 100%;
            margin-bottom: 10px;
            &-video {
              width: 100%;
            }
          }
        }
      }
    }
    &-menu {
      display: none;
      // &-image {
      //   width: 50px;
      //   height: 50px;
      //   position: relative;
      //   margin: 0 auto;
      // }
    }
  }
}

@include responsive_375 {
  .menu-analysis {
    display: block;
    // justify-content: space-between;
    margin: 0 15px 0 15px;
    &-body {
      margin-right: 0;
      width: 100%;
    }
    &-list {
      // width: 20%;
    }
  }
  .analysis {
    &-navbar {
      display: none !important;
    }
    &-component {
      // margin: 0 15% 50px 15%;
      display: flex;
      &-navigation {
        // margin: 0 15%;
        &-p {
          font-size: 18px;
        }
      }
      // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      &_index {
        width: 100%;
        margin-right: 20px;
        &-header {
          &-h1 {
            text-align: center;
            font-size: 38px;
            padding-top: 50px;
          }
          &-h3 {
            text-align: center;
            font-size: 20px;
          }
          &-p {
            color: #222;
            text-align: right;
          }
        }
        &-content {
          text-align: justify;
          font-size: 16px;
          margin: 50px 10px 0 10px;
        }
        &-menu {
          padding-bottom: 30px;
        }
      }

      &_list {
        // margin-left: 15px;
        // margin-top: 50px;
        width: 0;
        &-block {
          display: none;
          &-title {
            display: flex;
            margin-bottom: 20px;
            &-text {
              font-size: 18px;
              font-weight: bold;
              width: 100%;
            }
            &-wall {
              display: none;
            }
          }
          &-main {
            margin-top: 6px;
            margin-bottom: 5px;
            &-content {
              &:hover {
                cursor: pointer;
              }
              &:hover &-title {
                color: red;
              }
              &:hover &-img {
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
              }
              display: flex;
              align-items: center;
              &-img {
                width: 120px;
                height: 67px;
                position: relative;
              }
              &-title {
                padding-left: 10px;
                width: 70%;
                &-header {
                  font-size: 12px;
                  font-weight: bold;
                }
                &-text {
                  font-size: 14px;
                  display: none;
                }
              }
            }
          }
          &-baner {
            width: 100%;
            margin-bottom: 10px;
            &-video {
              width: 100%;
            }
          }
        }
      }
    }
    &-menu {
      display: none;
      // &-image {
      //   width: 50px;
      //   height: 50px;
      //   position: relative;
      //   margin: 0 auto;
      // }
    }
  }
}

@include responsive_425 {
  .menu-analysis {
    display: block;
    // justify-content: space-between;
    margin: 0 15px 0 15px;
    &-body {
      margin-right: 0;
      width: 100%;
    }
    &-list {
      // width: 20%;
    }
  }
  .analysis {
    &-navbar {
      display: none !important;
    }
    &-component {
      // margin: 0 15% 50px 15%;
      display: flex;
      &-navigation {
        // margin: 0 15%;
        &-p {
          font-size: 18px;
        }
      }
      // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      &_index {
        width: 100%;
        margin-right: 20px;
        &-header {
          &-h1 {
            text-align: center;
            font-size: 38px;
            padding-top: 50px;
          }
          &-h3 {
            text-align: center;
            font-size: 20px;
          }
          &-p {
            color: #222;
            text-align: right;
          }
        }
        &-content {
          text-align: justify;
          font-size: 16px;
          margin: 50px 10px 0 10px;
        }
        &-menu {
          padding-bottom: 30px;
        }
      }

      &_list {
        // margin-left: 15px;
        // margin-top: 50px;
        width: 0;
        &-block {
          display: none;
          &-title {
            display: flex;
            margin-bottom: 20px;
            &-text {
              font-size: 18px;
              font-weight: bold;
              width: 100%;
            }
            &-wall {
              display: none;
            }
          }
          &-main {
            margin-top: 6px;
            margin-bottom: 5px;
            &-content {
              &:hover {
                cursor: pointer;
              }
              &:hover &-title {
                color: red;
              }
              &:hover &-img {
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
              }
              display: flex;
              align-items: center;
              &-img {
                width: 120px;
                height: 67px;
                position: relative;
              }
              &-title {
                padding-left: 10px;
                width: 70%;
                &-header {
                  font-size: 12px;
                  font-weight: bold;
                }
                &-text {
                  font-size: 14px;
                  display: none;
                }
              }
            }
          }
          &-baner {
            width: 100%;
            margin-bottom: 10px;
            &-video {
              width: 100%;
            }
          }
        }
      }
    }
    &-menu {
      display: none;
      // &-image {
      //   width: 50px;
      //   height: 50px;
      //   position: relative;
      //   margin: 0 auto;
      // }
    }
  }
}
@include responsive_456 {
  .menu-analysis {
    display: block;
    // justify-content: space-between;
    margin: 0 15px 0 15px;
    &-body {
      margin-right: 0;
      width: 100%;
    }
    &-list {
      // width: 20%;
    }
  }
  .analysis {
    &-navbar {
      display: none !important;
    }
    &-component {
      // margin: 0 15% 50px 15%;
      display: flex;
      &-navigation {
        // margin: 0 15%;
        &-p {
          font-size: 18px;
        }
      }
      // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      &_index {
        width: 100%;
        margin-right: 20px;
        &-header {
          &-h1 {
            text-align: center;
            font-size: 38px;
            padding-top: 50px;
          }
          &-h3 {
            text-align: center;
            font-size: 20px;
          }
          &-p {
            color: #222;
            text-align: right;
          }
        }
        &-content {
          text-align: justify;
          font-size: 16px;
          margin: 50px 10px 0 10px;
        }
        &-menu {
          padding-bottom: 30px;
        }
      }

      &_list {
        // margin-left: 15px;
        // margin-top: 50px;
        width: 0;
        &-block {
          display: none;
          &-title {
            display: flex;
            margin-bottom: 20px;
            &-text {
              font-size: 18px;
              font-weight: bold;
              width: 100%;
            }
            &-wall {
              display: none;
            }
          }
          &-main {
            margin-top: 6px;
            margin-bottom: 5px;
            &-content {
              &:hover {
                cursor: pointer;
              }
              &:hover &-title {
                color: red;
              }
              &:hover &-img {
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
              }
              display: flex;
              align-items: center;
              &-img {
                width: 120px;
                height: 67px;
                position: relative;
              }
              &-title {
                padding-left: 10px;
                width: 70%;
                &-header {
                  font-size: 12px;
                  font-weight: bold;
                }
                &-text {
                  font-size: 14px;
                  display: none;
                }
              }
            }
          }
          &-baner {
            width: 100%;
            margin-bottom: 10px;
            &-video {
              width: 100%;
            }
          }
        }
      }
    }
    &-menu {
      display: none;
      // &-image {
      //   width: 50px;
      //   height: 50px;
      //   position: relative;
      //   margin: 0 auto;
      // }
    }
  }
}

@include responsive_768 {
  .fixed {
    position: fixed !important;
    width: calc(100% - 60px);
    margin: 0 !important;
    z-index: 1;
    left: 60px;
    top: 70px;
  }
  .menu-analysis {
    display: block;
    // justify-content: space-between;
    margin: 0 15px 0 60px;
    &-body {
      margin-right: 0;
      width: 100%;
    }
    &-list {
      // width: 20%;
    }
  }
  .analysis {
    &-navbar {
      margin: 50px 0px 50px 60px;
      height: 60px;
      background-color: #f8f8f8;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      display: flex;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      align-items: center;
      justify-content: space-between;
      &-heder {
        display: flex;
        align-items: center;
        width: 20%;
        padding-left: 0px;
        &-img {
          width: 0px;
          height: 0px;
        }
        &-text {
          font-size: 9px;
          // margin-left: 10px;
          line-height: 60px;
        }
        &:hover {
          cursor: pointer;
        }
      }
      &-menu {
        width: 15%;
        background-color: #ccc;

        &-text {
          font-size: 13px;
          width: 20%;
          height: 100%;
          text-align: center;
          line-height: 60px;
          margin-right: 10px;
          &:hover {
            cursor: pointer;
            color: red;
            border-bottom: 2px solid red;
          }
        }
      }
    }
    &-component {
      // margin: 0 15% 50px 15%;
      display: flex;
      &-navigation {
        // margin: 0 15%;
        &-p {
          font-size: 18px;
        }
      }
      // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      &_index {
        width: 100%;
        margin-right: 20px;
        &-header {
          &-h1 {
            text-align: center;
            font-size: 38px;
            padding-top: 50px;
          }
          &-h3 {
            text-align: center;
            font-size: 20px;
          }
          &-p {
            color: #222;
            text-align: right;
          }
        }
        &-content {
          text-align: justify;
          font-size: 16px;
          margin: 50px 10px 0 10px;
        }
        &-menu {
          padding-bottom: 30px;
        }
      }

      &_list {
        // margin-left: 15px;
        // margin-top: 50px;
        width: 0;
        &-block {
          display: none;
          &-title {
            display: flex;
            margin-bottom: 20px;
            &-text {
              font-size: 18px;
              font-weight: bold;
              width: 100%;
            }
            &-wall {
              display: none;
            }
          }
          &-main {
            margin-top: 6px;
            margin-bottom: 5px;
            &-content {
              &:hover {
                cursor: pointer;
              }
              &:hover &-title {
                color: red;
              }
              &:hover &-img {
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
              }
              display: flex;
              align-items: center;
              &-img {
                width: 120px;
                height: 67px;
                position: relative;
              }
              &-title {
                padding-left: 10px;
                width: 70%;
                &-header {
                  font-size: 12px;
                  font-weight: bold;
                }
                &-text {
                  font-size: 14px;
                  display: none;
                }
              }
            }
          }
          &-baner {
            width: 100%;
            margin-bottom: 10px;
            &-video {
              width: 100%;
            }
          }
        }
      }
    }
    &-menu {
      &-image {
        width: 50px;
        height: 50px;
        position: relative;
        margin: 0 auto;
      }
    }
  }
}

@include responsive_992 {
  .fixed {
    position: fixed !important;
    width: calc(100% - 60px);
    margin: 0 !important;
    z-index: 1;
    left: 60px;
    top: 70px;
  }
  .menu-analysis {
    display: block;
    // justify-content: space-between;
    margin: 0 15px 0 60px;
    &-body {
      margin-right: 0;
      width: 100%;
    }
    &-list {
      // width: 20%;
    }
  }
  .analysis {
    &-navbar {
      margin: 50px 0px 50px 60px;
      height: 60px;
      background-color: #f8f8f8;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      display: flex;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      align-items: center;
      justify-content: space-between;
      &-heder {
        display: flex;
        align-items: center;
        width: 25%;
        padding-left: 20px;
        &-img {
          width: 25px;
          height: 25px;
          position: relative;
        }
        &-text {
          font-size: 12px;
          margin-left: 10px;
          line-height: 60px;
        }
        &:hover {
          cursor: pointer;
        }
      }
      &-menu {
        width: 15%;
        background-color: #ccc;

        &-text {
          font-size: 16px;
          width: 20%;
          height: 100%;
          text-align: center;
          line-height: 60px;
          &:hover {
            cursor: pointer;
            color: red;
            border-bottom: 2px solid red;
          }
        }
      }
    }
    &-component {
      // margin: 0 15% 50px 15%;
      display: flex;
      &-navigation {
        // margin: 0 15%;
        &-p {
          font-size: 18px;
        }
      }
      // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      &_index {
        width: 100%;
        margin-right: 20px;
        &-header {
          &-h1 {
            text-align: center;
            font-size: 38px;
            padding-top: 50px;
          }
          &-h3 {
            text-align: center;
            font-size: 20px;
          }
          &-p {
            color: #222;
            text-align: right;
          }
        }
        &-content {
          text-align: justify;
          font-size: 16px;
          margin: 50px 10px 0 10px;
        }
        &-menu {
          padding-bottom: 30px;
        }
      }

      &_list {
        // margin-left: 15px;
        // margin-top: 50px;
        width: 0;
        &-block {
          display: none;
          &-title {
            display: flex;
            margin-bottom: 20px;
            &-text {
              font-size: 18px;
              font-weight: bold;
              width: 100%;
            }
            &-wall {
              display: none;
            }
          }
          &-main {
            margin-top: 6px;
            margin-bottom: 5px;
            &-content {
              &:hover {
                cursor: pointer;
              }
              &:hover &-title {
                color: red;
              }
              &:hover &-img {
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
              }
              display: flex;
              align-items: center;
              &-img {
                width: 120px;
                height: 67px;
                position: relative;
              }
              &-title {
                padding-left: 10px;
                width: 70%;
                &-header {
                  font-size: 12px;
                  font-weight: bold;
                }
                &-text {
                  font-size: 14px;
                  display: none;
                }
              }
            }
          }
          &-baner {
            width: 100%;
            margin-bottom: 10px;
            &-video {
              width: 100%;
            }
          }
        }
      }
    }
    &-menu {
      &-image {
        width: 50px;
        height: 50px;
        position: relative;
        margin: 0 auto;
      }
    }
  }
}

@include responsive_1024 {
  .fixed {
    position: fixed !important;
    width: 90%;
    margin: 0 !important;
    z-index: 1;
    left: 60px;
    top: 70px;
  }
  .menu-analysis {
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
    &-body {
    }
    &-list {
      width: 20%;
    }
  }
  .analysis {
    &-navbar {
      margin: 50px 60px;
      height: 60px;
      background-color: #f8f8f8;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      display: flex;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      align-items: center;
      justify-content: space-between;
      &-heder {
        display: flex;
        align-items: center;
        width: 25%;
        padding-left: 20px;
        &-img {
          width: 25px;
          height: 25px;
          position: relative;
        }
        &-text {
          font-size: 12px;
          margin-left: 10px;
          line-height: 60px;
        }
        &:hover {
          cursor: pointer;
        }
      }
      &-menu {
        width: 15%;
        background-color: #ccc;

        &-text {
          font-size: 16px;
          width: 20%;
          height: 100%;
          text-align: center;
          line-height: 60px;
          &:hover {
            cursor: pointer;
            color: red;
            border-bottom: 2px solid red;
          }
        }
      }
    }
    &-component {
      // margin: 0 15% 50px 15%;
      display: flex;
      &-navigation {
        // margin: 0 15%;
        &-p {
          font-size: 18px;
        }
      }
      // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      &_index {
        width: 100%;
        margin-right: 20px;
        &-header {
          &-h1 {
            text-align: center;
            font-size: 38px;
            padding-top: 50px;
          }
          &-h3 {
            text-align: center;
            font-size: 20px;
          }
          &-p {
            color: #222;
            text-align: right;
          }
        }
        &-content {
          text-align: justify;
          font-size: 16px;
          margin: 50px 10px 0 10px;
        }
        &-menu {
          padding-bottom: 30px;
        }
      }

      &_list {
        margin-left: 15px;
        margin-top: 50px;
        &-block {
          // margin-bottom: 30px;
          &-title {
            display: flex;
            margin-bottom: 20px;
            &-text {
              font-size: 18px;
              font-weight: bold;
              width: 100%;
            }
            &-wall {
              display: none;
            }
          }
          &-main {
            margin-top: 6px;
            margin-bottom: 5px;
            &-content {
              &:hover {
                cursor: pointer;
              }
              &:hover &-title {
                color: red;
              }
              &:hover &-img {
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
              }
              display: flex;
              align-items: center;
              &-img {
                width: 120px;
                height: 67px;
                position: relative;
              }
              &-title {
                padding-left: 10px;
                width: 70%;
                &-header {
                  font-size: 12px;
                  font-weight: bold;
                }
                &-text {
                  font-size: 14px;
                  display: none;
                }
              }
            }
          }
          &-baner {
            width: 100%;
            margin-bottom: 10px;
            &-video {
              width: 100%;
            }
          }
        }
      }
    }
    &-menu {
      &-image {
        width: 50px;
        height: 50px;
        position: relative;
        margin: 0 auto;
      }
    }
  }
}

@include responsive_1200 {
  .fixed {
    position: fixed !important;
    width: 85%;
    margin: 0 !important;
    z-index: 1;
    left: 85px;
    top: 70px;
  }
  .menu-analysis {
    display: flex;
    justify-content: space-between;
    margin: 0 85px;
    &-body {
    }
    &-list {
      width: 20%;
    }
  }
  .analysis {
    &-navbar {
      margin: 50px 85px;
      height: 60px;
      background-color: #f8f8f8;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      display: flex;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      align-items: center;
      justify-content: space-between;
      &-heder {
        display: flex;
        align-items: center;
        width: 25%;
        padding-left: 20px;
        &-img {
          width: 25px;
          height: 25px;
          position: relative;
        }
        &-text {
          font-size: 18px;
          margin-left: 10px;
          line-height: 60px;
        }
        &:hover {
          cursor: pointer;
        }
      }
      &-menu {
        width: 15%;
        background-color: #ccc;

        &-text {
          font-size: 18px;
          width: 20%;
          height: 100%;
          text-align: center;
          line-height: 60px;
          &:hover {
            cursor: pointer;
            color: red;
            border-bottom: 2px solid red;
          }
        }
      }
    }
    &-component {
      // margin: 0 15% 50px 15%;
      display: flex;
      &-navigation {
        // margin: 0 15%;
        &-p {
          font-size: 18px;
        }
      }
      // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      &_index {
        width: 100%;
        margin-right: 20px;
        &-header {
          &-h1 {
            text-align: center;
            font-size: 38px;
            padding-top: 50px;
          }
          &-h3 {
            text-align: center;
            font-size: 20px;
          }
          &-p {
            color: #222;
            text-align: right;
          }
        }
        &-content {
          text-align: justify;
          font-size: 16px;
          margin: 50px 10px 0 10px;
        }
        &-menu {
          padding-bottom: 30px;
        }
      }

      &_list {
        margin-left: 15px;
        margin-top: 50px;
        &-block {
          // margin-bottom: 30px;
          &-title {
            display: flex;
            margin-bottom: 20px;
            &-text {
              font-size: 18px;
              font-weight: bold;
              width: 100%;
            }
            &-wall {
              display: none;
            }
          }
          &-main {
            margin-top: 6px;
            margin-bottom: 5px;
            &-content {
              &:hover {
                cursor: pointer;
              }
              &:hover &-title {
                color: red;
              }
              &:hover &-img {
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
              }
              display: flex;
              align-items: center;
              &-img {
                width: 120px;
                height: 67px;
                position: relative;
              }
              &-title {
                padding-left: 10px;
                width: 70%;
                &-header {
                  font-size: 12px;
                  font-weight: bold;
                }
                &-text {
                  font-size: 14px;
                  display: none;
                }
              }
            }
          }
          &-baner {
            width: 100%;
            margin-bottom: 10px;
            &-video {
              width: 100%;
            }
          }
        }
      }
    }
    &-menu {
      &-image {
        width: 50px;
        height: 50px;
        position: relative;
        margin: 0 auto;
      }
    }
  }
}
@include responsive_1440 {
  .fixed {
    position: fixed !important;
    width: 80%;
    margin: 0 !important;
    z-index: 1;
    left: 10%;
    top: 70px;
  }
  .menu-analysis {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    &-body {
    }
    &-list {
      width: 20%;
    }
  }
  .analysis {
    &-navbar {
      margin: 50px 10%;
      height: 60px;
      background-color: #f8f8f8;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      display: flex;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      align-items: center;
      justify-content: space-between;
      &-heder {
        display: flex;
        align-items: center;
        width: 25%;
        padding-left: 20px;
        &-img {
          width: 25px;
          height: 25px;
          position: relative;
        }
        &-text {
          font-size: 18px;
          margin-left: 10px;
          line-height: 60px;
        }
        &:hover {
          cursor: pointer;
        }
      }
      &-menu {
        width: 15%;
        background-color: #ccc;

        &-text {
          font-size: 18px;
          width: 20%;
          height: 100%;
          text-align: center;
          line-height: 60px;
          &:hover {
            cursor: pointer;
            color: red;
            border-bottom: 2px solid red;
          }
        }
      }
    }
    &-component {
      // margin: 0 15% 50px 15%;
      display: flex;
      &-navigation {
        // margin: 0 15%;
        &-p {
          font-size: 18px;
        }
      }
      // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      &_index {
        width: 100%;
        margin-right: 20px;
        &-header {
          &-h1 {
            text-align: center;
            font-size: 38px;
            padding-top: 50px;
          }
          &-h3 {
            text-align: center;
            font-size: 20px;
          }
          &-p {
            color: #222;
            text-align: right;
          }
        }
        &-content {
          text-align: justify;
          font-size: 16px;
          margin: 50px 10px 0 10px;
        }
        &-menu {
          padding-bottom: 30px;
        }
      }

      &_list {
        margin-left: 20px;
        margin-top: 50px;
        &-block {
          // margin-bottom: 30px;
          &-title {
            display: flex;
            margin-bottom: 20px;
            &-text {
              font-size: 18px;
              font-weight: bold;
              width: 100%;
            }
            &-wall {
              display: none;
            }
          }
          &-main {
            margin-top: 6px;
            margin-bottom: 5px;
            &-content {
              &:hover {
                cursor: pointer;
              }
              &:hover &-title {
                color: red;
              }
              &:hover &-img {
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
              }
              display: flex;
              align-items: center;
              &-img {
                width: 120px;
                height: 67px;
                position: relative;
              }
              &-title {
                padding-left: 10px;
                width: 70%;
                &-header {
                  font-size: 12px;
                  font-weight: bold;
                }
                &-text {
                  font-size: 14px;
                  display: none;
                }
              }
            }
          }
          &-baner {
            width: 100%;
            margin-bottom: 10px;
            &-video {
              width: 100%;
            }
          }
        }
      }
    }
    &-menu {
      &-image {
        width: 50px;
        height: 50px;
        position: relative;
        margin: 0 auto;
      }
    }
  }
}
@include responsive_1650 {
}
@include responsive_1900 {
}
