.news {
  &-title {
    display: flex;
    align-items: center;
    &-icon {
      font-size: 28px;
      margin-right: 20px;
    }
    &-p {
      font-size: 28px;
      font-weight: bold;
      border-bottom: 2px solid #ccc;
      width: 100%;
    }
  }
  &-content {
    margin-left: 35px;
    opacity: 1;
    // display: none;
    &-p {
      text-align: justify;
    }
  }
}
