*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
p {
  margin-bottom: 0;
}
.hide {
  display: none;
}

.active {
  display: block;
}

html {
  font-family: "Roboto", sans-serif !important;
}
.no-padding {
  padding: 0;
}
body {
  // background: #f2f3eb;
}
.magrin-right-20 {
  right: 50px !important;
}
.magrin-lef-10 {
  left: 25px !important;
}
