/* Mixin */
/* Set các giá trị với màn hình tương ứng */
// $mobile-SSS: 200px;
// $mobile-SS: 280px;
// $mobile-S: 320px;
// $mobile-M: 375px;
// $mobile-L: 425px;
// $tablet: 768px;
// $laptop: 1024px;
// $laptop-L: 1440px;

$res_200: "only screen and (min-width: 200px) and (max-width: 280px)";
$res_280: "only screen and (min-width: 281px) and (max-width: 320px)";
$res_320: "only screen and (min-width: 321px) and (max-width: 375px)";
$res_375: "only screen and (min-width: 376px) and (max-width: 425px)";
$res_425: "only screen and (min-width: 426px) and (max-width: 768px)";
$res_768: "only screen and (min-width: 769px) and (max-width: 992px)";
$res_992: "only screen and (min-width: 993px) and (max-width: 1024px)";
$res_1024: "only screen and (min-width: 1025px) and (max-width: 1200px)";
$res_1200: "only screen and (min-width: 1201px) and (max-width: 1440px)";
$res_1440: "only screen and (min-width: 1441px)";

@mixin responsive_200() {
  @media #{$res_200} {
    @content;
  }
}
@mixin responsive_280() {
  @media #{$res_280} {
    @content;
  }
}
@mixin responsive_320() {
  @media #{$res_320} {
    @content;
  }
}
@mixin responsive_375() {
  @media #{$res_375} {
    @content;
  }
}
@mixin responsive_425() {
  @media #{$res_425} {
    @content;
  }
}
@mixin responsive_768() {
  @media #{$res_768} {
    @content;
  }
}
@mixin responsive_992() {
  @media #{$res_992} {
    @content;
  }
}
@mixin responsive_1024() {
  @media #{$res_1024} {
    @content;
  }
}
@mixin responsive_1200() {
  @media #{$res_1200} {
    @content;
  }
}
@mixin responsive_1440() {
  @media #{$res_1440} {
    @content;
  }
}
